# .env file used by load_dotenv to insert environment variables in the jupter environment
# copy example.env to .env
# Required for research agents with external search

# .env file used by load_dotenv to insert environment variables in the jupter environment
# copy example.env to .env
# Required for research agents with external search
TAVILY_API_KEY=

# Optional: For evaluation and tracing
LANGSMITH_API_KEY=
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=lc-essentials

AZURE_OPENAI_PROJECT_ENDPOINT=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=https://l1automationfoundry.openai.azure.com/
AZURE_OPENAI_API_VERSION=2025-01-01-preview
AZURE_OPENAI_DEPLOYMENT=gpt-4o-mini
